{{!-- {{#each this}} --}}
        <div class="card" id={{id}}>
            <div class="close-btn" data-action="remove"></div>
          <img src="{{image}}" alt="{{title}} photo">
          <a href="{{url}}" target="blank"><h3 class="title">{{title}}</h3></a>
          <p class="descr">{{description}}</p>
        </div>
        {{!-- {{/each}} --}}